<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To DO List Project</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-app="myApp" ng-controller="myCtrl" class="container">
<h1>THINGS TO DO <!--<input type="button" value="+" ng-click="abc()">--></h1>
<form ng-submit="listAdd()">
  <input type="text" ng-model="myInput"  class="">
  <input type="submit"  value="Add Items" class="btn btn-info">
</form><br/>

<p><input type="button" class="btn btn-danger" value="remove Checked Items" ng-click="deleteItems()"></p><br/>
<div ng-repeat=" x in arrList" class="list-group-item">
  <input type="checkbox" class="" ng-model="x.done"><span>{{x.addData}}</span>
</div>

</body>
</html>




















<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To DO List Project</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
<h1> My TO DO LIST</h1>
<form>
  <input type="text" ng-model="myInput">
  <input type="submit" ng-click="listAdd()" value="Add Items">
</form>
<ul>
  <li ng-repeat="x in arr" ng-click="delItem()" ng-if="jkl">{{x}}</li>
</ul>
<script>
  var app = angular.module("myApp",[]);
  app.controller("myCtrl",myController);

  function myController($scope){
    $scope.arr =["book","notebook"];
     $scope.jkl = true;
    $scope.listAdd = function(){
      $scope.arr.push($scope.myInput);
      $scope.myInput = "";
    }
    $scope.delItem = function(){
      $scope.jkl = !jkl;
    }
  }


</script>
</body>
</html>-->

















<!--
<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>My Todo List</h2>

<form ng-submit="todoAdd()">
  <input type="text" ng-model="todoInput" size="50" placeholder="">
  <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
  <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
</div>

<p><button ng-click="remove()">Remove marked</button></p>

<script>
  var app = angular.module('myApp', []);
  app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{todoText:'Clean House', done:false}];

    $scope.todoAdd = function() {
      $scope.todoList.push({todoText:$scope.todoInput, done:false});
      $scope.todoInput = "";
    };

    $scope.remove = function() {
      var oldList = $scope.todoList;
      $scope.todoList = [];
      angular.forEach(oldList, function(x) {
        if (!x.done) $scope.todoList.push(x);
      });
    };
  });
</script>

</body>
