<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To DO List Project</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controller.js"></script>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-app="myApp" ng-controller="myCtrl" class="container">
<h1>THINGS TO DO <!--<input type="button" value="+" ng-click="abc()">--></h1>
<form ng-submit="listAdd()">
  <input type="text" ng-model="myInput"  class="">
  <input type="submit"  value="Add Items" class="btn btn-info">
</form><br/>

<p><input type="button" class="btn btn-danger" value="remove Checked Items" ng-click="deleteItems()"></p><br/>
<div ng-repeat=" x in arrList" class="list-group-item">
  <input type="checkbox" class="" ng-model="x.done"><span>{{x.addData}}</span>
</div>

</body>
</html>
